/* === TOKYO NIGHT PALETTE === */
/* background: #1a1b26 */
/* storm bg:   #24283b */
/* foreground: #c0caf5 */
/* blue:       #7aa2f7 */
/* red:        #f7768e */
/* green:      #9ece6a */
/* yellow:     #e0af68 */

.control-center {
    background: #1a1b26;
    border: 2px solid #A9B1D6FF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.widget-title {
    color: #7aa2f7;
    font-size: 1.5rem;
    font-weight: bold;
}

.widget-label {
    color: #c0caf5;
    font-size: 1rem;
}

.notification-row {
    outline: none;
    margin: 5px;
}

.notification {
    background: #1A1B26;
    border-radius: 15px;
    border: 2px solid #A9B1D6FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    color: #c0caf5;
}


.body {
    font-size: 14px;
    color: #a9b1d6;
}

.notification.critical {
    background: #1a1b26;
    border: 2px solid #f7768e;
}

.notification.critical .summary,
.notification.critical .body {
    color: #f7768e;
}

.notification-action {
    background: #1a1b26;
    color: #c0caf5;
    border: 1px solid #A9B1D6FF;
    border-radius: 10px;
}

.widget-mpris {
    background: #24283b;
    border-radius: 15px;
    border: 1px solid #A9B1D6FF;
    color: #c0caf5;
}