@import "colors.css";

.control-center {
    /* Використовуємо змінну з "вшитою" прозорістю */
    background: @background;
    
    border: 2px solid @outline;
    border-radius: 20px;
    box-shadow: none;
}

.widget-title {
    color: @primary;
    font-size: 1rem;
    font-weight: bold;
}

.widget-label {
    color: @on_surface;
    font-size: 1rem;
}

.notification-row {
    outline: none;
    background: transparent;
    margin: 10px 0;
}

.notification {
    background: @cc-bg; /* Теж прозорий фон */
    border-radius: 20px;
    border: 2px solid @outline;
    box-shadow: none;
    padding: 10px;
}

.notification-content {
    background: transparent;
    padding: 10px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    color: @on_surface;
}

.body {
    font-size: 14px;
    color: @on_surface_variant;
}

.notification.critical {
    background: @cc-bg;
    border: 2px solid @error;
    box-shadow: none;
    padding: 10px;
}

.notification.critical .summary,
.notification.critical .body {
    color: @error;
}

.notification-row:focus,
.notification-row:hover {
    background: transparent;
}

.notification-action {
    background: transparent;
    color: @on_surface;
    border: 1px solid @outline;
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 0px;
    margin: 10px;
    min-height: 0px;
}

.widget-mpris {
    padding: 0px;
    min-height: 0px;
}

.widget-mpris-player>box>button {
    margin: 0px;
}