@import "colors.css";

* {
    min-height: 0;
    min-width: 0;
    font-family: Lexend, "JetBrainsMono NFP";
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background-color: @surface;
    color: #ffffff;
    border-radius: 15px;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    /* background-color: #181825; */
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button:hover {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    background-color: #1e1e2e;
    color: #89b4fa;
}

#workspaces button.urgent {
    background-color: #1e1e2e;
    color: #f38ba8;
}

#clock,
#pulseaudio,
#wireplumber,
#battery,
#bluetooth,
#network,
#custom-logo,
#custom-menu,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#mpris {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    /* background-color: #181825; */
    background-color: @background;
    color: @primary;
}

#mpris.playing {
    color: #a6e3a1;
}

#mpris.paused {
    color: #9399b2;
}

#custom-sep {
    padding: 0px;
    color: #585b70;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
    color: #94e2d5;
}

#memory {
    color: #cba6f7;
}

#clock {
    color: @primary;
}

#clock.simpleclock {
    color: @primary;
}

#window {
    color: @primary;
}

#pulseaudio {
    color: @primary;
}

#pulseaudio.muted {
    color: @primary;
}

#custom-logo {
    color: @primary;
}

#custom-power {
    color: #f38ba8;
}

tooltip {
    background-color: @background;
    border: 2px solid @primary;
}
